.close__btn, .close__btn-second {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.more-info__btn {
    margin-top: 10px;
    color: #737373;
    font-size: 14px;
    font-weight: 600;
    transition: 0.3s;
}

.more-info__btn:hover {
    color: #000000;
}
